:root {
  --first-text-color: #212121;
  --second--text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --white-text-color: #ffffff;
  --first-bgr-color: #f5f4fa;
  --second-bgr-color: #2f303a;
  --all-bgr-color: #ffffff;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--all-bgr-color);
  color: var(--first-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* --скидаємо точки в списках і відступи-- */
.resed {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* прибираємо підкреслення */
a {
  text-decoration: none;
}

/* прибираємо марджини низ верх */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* контейнер основні */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /* padding-bottom: 94px; */
}
/* ховаємо заголовок */
.title-none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* хедер */
.logo-all {
  display: inline-block;
  margin-right: 93px;
}
.logo-top > .flex {
  justify-content: flex-start;
}

.logo-first {
  color: var(--accent-color);
}
.logo-second {
  color: #000;
}
.logo-first,
.logo-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-top {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

/* навігація */
.nav {
  color: var(--first-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}

.nav-list > .flex {
  gap: 50px;
}

.active {
  position: relative;

  color: var(--accent-color);
}

.active::after {
  content: " ";

  position: absolute;
  bottom: -32px;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.contact-list {
  margin-left: auto;
}

.contact-list {
  gap: 30px;
}

.contact {
  display: flex;
  align-items: center;

  color: var(--second--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact:hover,
.contact:focus,
.addres:hover,
.addres:focus {
  color: var(--accent-color);

  transition: color 250ms var(--timing-function);
}

/* main головна */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;

  background-color: var(--second-bgr-color);
  color: var(--white-text-color);

  text-align: center;

  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);

  transition: opacity 500ms var(--timing-function) 250ms,
    transform 500ms var(--timing-function) 50ms,
    visibility 500ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  color: #000;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  cursor: pointer;

  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.button {
  min-width: 216px;
  height: 50px;
  cursor: pointer;

  border-radius: 4px;
  border: transparent;

  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: inherit;
  letter-spacing: 0.06em;
}

/* skils */

.skils .flex {
  align-items: stretch;
  gap: 30px;
}
.skils-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.skils {
  padding-top: 94px;
  padding-bottom: 94px;
}

.skils-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second--text-color);
}

.skils div.flex {
  width: 270px;
  height: 120px;
  background-color: var(--first-bgr-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* робота */
.work {
  padding-bottom: 94px;
}
/* 
.work .title {
  margin-bottom: 50px;
} */

.work img {
  display: block;
}

.work-card {
  position: relative;
}

.work-class {
  position: absolute;
  width: 100%;
  bottom: 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  padding: 27px 0;

  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* team */
.team {
  background-color: var(--first-bgr-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .team .title {
  margin-bottom: 50px;
} */
.team-card {
  background-color: var(--all-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team img {
  display: block;
}
.team-list {
  padding: 30px 10px;
}

.team-list .resed {
  margin-top: 16px;
  justify-content: center;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-prof {
  color: var(--second--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list > .flex {
  gap: 10px;
}

.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  border-radius: 50%;
}

.icon-link:hover,
.icon-link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function) 250ms;
}

/* ----------------клієнти */
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: rgba(175, 177, 184, 1);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  fill: currentColor;
}

.icon-client:hover,
.icon-client:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);

  transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

/* футер */
.logo-bot {
  background-color: var(--second-bgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-bot > .container {
  display: flex;
}
.footer-contact {
  margin-right: 70px;
}
.logo-bot .white {
  color: var(--white-text-color);
}
.bot-address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* letter-spacing: 0.03em; */
}
.addres {
  color: var(--white-text-color);
}
.bot-contact {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.logo-bot .icon-link {
  color: var(--white-text-color);
}

.icon-title {
  margin-bottom: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--white-text-color);
}

.social-icon .flex {
  gap: 10px;
}

.logo-bot .icon-team {
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 50%;
}

.form-footer {
  margin-left: auto;
}

.form-list {
  display: flex;
  gap: 12px;
  align-items: center;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: none;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.form-input {
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*-------------------------------------------------------------- портфоліо */
/* .container.button-list {
  padding-top: 50px;
  padding-bottom: 25px;
} */

.proj {
  margin-top: 94px;
  margin-bottom: 94px;
}
.button-list {
  margin-bottom: 50px;
  justify-content: center;
}
.button-proj {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  cursor: pointer;
}
.button-list > li:not(:last-child) {
  margin-right: 8px;
}

.button-proj:hover,
.button-proj:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}


/* проекти */
.proj-list .flex {
  flex-wrap: wrap;
  gap: 30px;
}

.proj-link {
  display: block;
  color: inherit;
}

.proj-link:hover,
.proj-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

  transition: box-shadow 250ms var(--timing-function);
}

.proj-img {
  position: relative;
  overflow: hidden;
}

.proj-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;

  display: flex;
  align-items: center;
  padding: 0 24px;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);

  transition: opcity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

/* hover focus */
.proj-link:hover .proj-text,
.proj-link:focus .proj-text {
  transform: translateY(-100%);
  opacity: 1;
}

.proj-list img {
  display: block;
}
.proj-card {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
  border-top: none;
}
.proj-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.proj-class {
  color: var(--second--text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}


/* @keyframes modal-open {
  0% {
    opacity: 0;
    visibility: visible;
    transform: scale(1);}
    50%{opacity: 1;
      transform: scale(1.5);}
      100% {
        transform: scale(0.5);
      }
    } */
